# Common variables: these will be used when naming demo resources
projectPrefix = "azure-hub-xc"
resourceOwner = "example"
# a domain name that was delegated to volterra, uncomment and change if you want external services and have a delegated domain.
#publicDomain = "publicsomething.example.com"
domain_name = "shared.acme.com"
dnsdelegatedzone = "demos.example.dev"
# Volterra variables: these will be used to standup Volterra resources across clouds
namespace = "example"
volterraTenant = "example"

# Optional: if provided this public key will allow SSH access to the Volterra gateways
# and may be used by AWS/Azure/GCP where an SSH key can be specified
ssh_key = "sdfdfs"


#control the resources being deployed using the follwoing map

# Azure variables
azureLocation        = "westus2"
volterraCloudCredAzure = "example"

